<%- include('../Partials/header.ejs') %>
<%- include('../Partials/main_nav.ejs') %>
<!--Tournament Database-->
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10" style="background-color: grey;">
            <h1><%= title %></h1>
            <br>
   <!--To add a tournament--> 
            <a href="/tournamentslist/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add Tournament
            </a>
    <!--Table format-->
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="d-flex">
    <!--Shows each of the topics on the table-->
                        <th class="text-center col-2">Team Names</th>
                        <th class="text-center col-2">Date</th>
                        <th class="text-center col-1">Location</th>
                        <th class="col-4">Description</th>
                        <th class="text-center col-1">Winner</th>
                        <th class="text-center col-1">Edit</th>
                        <th class="text-center col-1">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% TournamentList.forEach(tournament => { %>
                    <tr class="d-flex">
                        <td class="text-center col-2"><%= tournament.TeamNames %></td>
                        <td class="text-center col-2"><%= tournament.Date %></td>
                        <td class="text-center col-1"><%= tournament.Location %></td>
                        <td class="col-4"><%= tournament.Description %></td>
                        <td class="text-center col-1"><%= tournament.Winner %></td>
                        <td class="text-center col-1">
                            <a href="/tournamentslist/edit/<%= tournament._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit
                            </a>
                        </td>
        <!--Delete-->
                        <td class="text-center col-1">
                            <a href="/tournamentslist/delete/<%= tournament._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete
                            </a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</main>

